@page "/admin/addclasssection"

<h2>Add class section</h2>

<MudNumericField @bind-Value="courseID" Label="course id" Variant="Variant.Outlined" Min="1000" Max="9999"></MudNumericField>
<MudNumericField @bind-Value="buildingID" Label="building id" Variant="Variant.Outlined" Min="1" Max="3"></MudNumericField>
<MudNumericField @bind-Value="maxCapacity" Label="max capacity" Variant="Variant.Outlined" Min="5" Max="30"></MudNumericField>
<MudNumericField @bind-Value="roomID" Label="room id" Variant="Variant.Outlined"></MudNumericField>
<MudSelect @bind-Value="day" T="string" Label="Day" AnchorOrigin="Origin.BottomCenter">
    <MudSelectItem Value="@("Monday & Wednesday")" />
    <MudSelectItem Value="@("Tuesday & Thursday")" />
    <MudSelectItem Value="@("Monday")" />
    <MudSelectItem Value="@("Tuesday")" />
    <MudSelectItem Value="@("Wednesday")" />
    <MudSelectItem Value="@("Thursday")" />
    <MudSelectItem Value="@("Friday")" />
</MudSelect>
<MudButton @onclick="submitForm" Variant="Variant.Outlined" Color="Color.Success">submit</MudButton>

@code 
{
    //must be written in form field:
    private int? courseID { get; set; }
    private int? buildingID { get; set; }
    private string? day { get; set; }
    private int? maxCapacity { get; set; }
    private int? roomID { get; set; }

    //comes from course:
    private int? CRN { get; set; }
    private string? courseName { get; set; }
    private int? credits { get; set; }
    private string? department { get; set; }
    private string? description { get; set; }
    private string[]? enrolled { get; set; }
    private DateTime? gradeLimit { get; set; }
    private string[]? minimumRequirement { get; set; }
    private string? section { get; set; }
    private string? type { get; set; }

    //comes from timeWindow:
    private DateTime? startDate { get; set; }
    private DateTime? withdrawLimit { get; set; }
    private string? semester { get; set; }
    private DateTime? endDate { get; set; }
    private DateTime? registerationLimit { get; set; }

    //comes from allUser:
    private string? profFirstName { get; set; }
    private string? profLastName { get; set; }
    private string? professorName { get; set; }

    private void submitForm()
    {
        
    }

}
