@page "/admin/addnewcourse"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<h2>Add new course</h2>

<MudNumericField @bind-Value="courseID" Label="course id" Variant="Variant.Outlined" id="textFieldColor" Min="1000" Max="9999"></MudNumericField>

<MudTextField @bind-Value="courseName" Label="course name" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>

<MudNumericField @bind-Value="credits" Label="credits" Variant="Variant.Outlined" id="textFieldColor" Min="1" Max="4"></MudNumericField>

<MudSelect @bind-Value="department" T="string" Label="Department" AnchorOrigin="Origin.BottomCenter" >
    @foreach (var x in departments)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="description" Label="description" Variant="Variant.Outlined" id="textFieldColor" Lines="4"></MudTextField>

<MudText Align="Align.Center">leave any of these prereqs blank to not assign a prerequiste</MudText>

<MudTextField @bind-Value="prerequisite1" Label="prereq 1" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField> 
<MudSelect @bind-Value="gradeReq1" Label="grade prereq 1" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite2" Label="prereq 2" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>
<MudSelect @bind-Value="gradeReq2" Label="grade prereq 2" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite3" Label="prereq 3" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>
<MudSelect @bind-Value="gradeReq3" Label="grade prereq 3" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite4" Label="prereq 4" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>
<MudSelect @bind-Value="gradeReq4" Label="grade prereq 4" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite5" Label="prereq 5" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>
<MudSelect @bind-Value="gradeReq5" Label="grade prereq 5" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite6" Label="prereq 6" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>
<MudSelect @bind-Value="gradeReq6" Label="grade prereq 6" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite7" Label="prereq 7" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>
<MudSelect @bind-Value="gradeReq7" Label="grade prereq 7" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite8" Label="prereq 8" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>
<MudSelect @bind-Value="gradeReq8" Label="grade prereq 8" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudSelect @bind-Value="type" Label="Grad or Undergrad" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in gradType)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudButton @onclick="submitForm" Variant="Variant.Outlined" class="btncolor">submit</MudButton>

@code 
{
    Mongo mongo = new Mongo("college-site-2");
    Theme theme = new Theme();

    private string[] creditlabels = { "1", "2", "3", "4" };
    private List<string> departments = new List<String> { };
    private string[] grades = { "A", "B", "C", "D", "F" };
    private string[] gradType = { "Undergraduate", "Graduate" };

    private static int courseID { get; set; }
    private static string courseName { get; set; }
    private static int credits { get; set; }
    private static string department { get; set; }
    private static string description { get; set; }
    private static string prerequisite1 { get; set; }
    private static string prerequisite2 { get; set; }
    private static string prerequisite3 { get; set; }
    private static string prerequisite4 { get; set; }
    private static string prerequisite5 { get; set; }
    private static string prerequisite6 { get; set; }
    private static string prerequisite7 { get; set; }
    private static string prerequisite8 { get; set; }
    private static string gradeReq1 { get; set; }
    private static string gradeReq2 { get; set; }
    private static string gradeReq3 { get; set; }
    private static string gradeReq4 { get; set; }
    private static string gradeReq5 { get; set; }
    private static string gradeReq6 { get; set; }
    private static string gradeReq7 { get; set; }
    private static string gradeReq8 { get; set; }
    private static int sectionCounter { get; set; }
    private static string type { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var accountTypeCheck = await storage.GetAsync<string>("accountType");

            if (accountTypeCheck.Value != "Admin")
            {
                navigate.NavigateTo("/homepage");
            }
        }
        catch
        {
            navigate.NavigateTo("/homepage");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("on after render (local) ran");
            var queryDepartment = mongo.LoadRecordSortedAsc<Departments>("department", "Department");

            foreach (var x in queryDepartment)
            {
                departments.Add(x.Department);
            }
        }

    }

    private void submitForm()
    {
        try
        {
            bool validForm = true;
            var queryClasses = mongo.LoadRecord<Classes>("classes");
            var queryCourseID = mongo.LoadRecordByString<Course>("course", "CourseID", courseID.ToString());

            //form validation
            if (courseID == null || !(courseID >= 1000 && courseID <= 9999))
            {
                validForm = false;
            }
            else if (courseName == null || courseName == "")
            {
                validForm = false;
            }
            else if (credits == null || !(credits >= 1 && credits <= 4))
            {
                validForm = false;
            }
            else if (department == null || department == "")
            {
                validForm = false;
            }
            else if (description == null || !(description == ""))
            {
                validForm = false;
            }
            else if (type == null || type == "")
            {
                validForm = false;
            }


            //sanity check
            bool sanityCheck = true;
            if (validForm)
            {
                var queryCourse = mongo.LoadRecord<Course>("course");

                foreach (var x in queryCourse)
                {
                    if (x.CourseName == courseName || x.CourseID == courseID)
                    {
                        sanityCheck = false;
                        break;
                    }
                }
            }

            if (validForm && sanityCheck)
            {
                Course toWrite = new Course();
                List<Prerequiste> prereq = new List<Prerequiste> { };

                toWrite.CourseID = courseID;
                toWrite.CourseName = courseName;
                toWrite.Credits = credits;
                toWrite.Department = department;
                toWrite.Description = description;

                if (prerequisite1 != null && prerequisite1 != "")
                {
                    Prerequiste prereqToAdd = new Prerequiste();

                    prereqToAdd.Prereq = prerequisite1;
                    prereqToAdd.MinimumRequirements = gradeReq1;

                    toWrite.Prerequiste.Add(prereqToAdd);
                }

                if (prerequisite2 != null && prerequisite2 != "")
                {
                    Prerequiste prereqToAdd = new Prerequiste();

                    prereqToAdd.Prereq = prerequisite2;
                    prereqToAdd.MinimumRequirements = gradeReq2;

                    toWrite.Prerequiste.Add(prereqToAdd);
                }

                if (prerequisite3 != null && prerequisite3 != "")
                {
                    Prerequiste prereqToAdd = new Prerequiste();

                    prereqToAdd.Prereq = prerequisite3;
                    prereqToAdd.MinimumRequirements = gradeReq3;

                    toWrite.Prerequiste.Add(prereqToAdd);
                }

                if (prerequisite4 != null && prerequisite4 != "")
                {
                    Prerequiste prereqToAdd = new Prerequiste();

                    prereqToAdd.Prereq = prerequisite4;
                    prereqToAdd.MinimumRequirements = gradeReq4;

                    toWrite.Prerequiste.Add(prereqToAdd);
                }

                if (prerequisite5 != null && prerequisite5 != "")
                {
                    Prerequiste prereqToAdd = new Prerequiste();

                    prereqToAdd.Prereq = prerequisite5;
                    prereqToAdd.MinimumRequirements = gradeReq5;

                    toWrite.Prerequiste.Add(prereqToAdd);
                }

                if (prerequisite6 != null && prerequisite6 != "")
                {
                    Prerequiste prereqToAdd = new Prerequiste();

                    prereqToAdd.Prereq = prerequisite6;
                    prereqToAdd.MinimumRequirements = gradeReq6;

                    toWrite.Prerequiste.Add(prereqToAdd);
                }

                if (prerequisite7 != null && prerequisite7 != "")
                {
                    Prerequiste prereqToAdd = new Prerequiste();

                    prereqToAdd.Prereq = prerequisite7;
                    prereqToAdd.MinimumRequirements = gradeReq7;

                    toWrite.Prerequiste.Add(prereqToAdd);
                }

                if (prerequisite8 != null && prerequisite8 != "")
                {
                    Prerequiste prereqToAdd = new Prerequiste();

                    prereqToAdd.Prereq = prerequisite8;
                    prereqToAdd.MinimumRequirements = gradeReq8;

                    toWrite.Prerequiste.Add(prereqToAdd);
                }

                toWrite.SectionCounter = 0;
                toWrite.Type = type;
                toWrite.CourseID = courseID;


                mongo.InsertRecord<Course>("course", toWrite);

                snackbar.Add("Course added successfully", Severity.Success);
            }
            else
            {
                snackbar.Add("Course was not added successfully", Severity.Error);
            }
        }
        catch
        {
            snackbar.Add("Course was not added successfully", Severity.Error);
        }
    }
}
