@page "/admin/addnewcourse"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<PageTitle>Add new course</PageTitle>

<h2>Add new course</h2>

<MudNumericField @bind-Value="courseID" Label="course id" Variant="Variant.Outlined" id="textFieldColor" Min="1000" Max="9999"></MudNumericField>

<MudTextField @bind-Value="courseName" Label="course name" Variant="Variant.Outlined" id="textFieldColor" ></MudTextField>

<MudNumericField @bind-Value="credits" Label="credits" Variant="Variant.Outlined" id="textFieldColor" Min="1" Max="4"></MudNumericField>

<MudSelect @bind-Value="department" T="string" Label="Department" AnchorOrigin="Origin.BottomCenter" >
    @foreach (var x in departments)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudTextField @bind-Value="description" Label="description" Variant="Variant.Outlined" id="textFieldColor" Lines="4"></MudTextField>

<MudText Align="Align.Center">leave any of these prereqs set to 0 to not assign a prerequiste</MudText>
<br />
<MudGrid>
<MudNumericField @bind-Value="prerequisite1" Label="prereq 1" Variant="Variant.Outlined" Min="0" Max="9999" id="textFieldColor" ></MudNumericField>
    <p>-----</p>
<MudSelect @bind-Value="gradeReq1" Label="grade prereq 1" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>
</MudGrid>

<br />
<br />


<MudGrid>
    <MudNumericField @bind-Value="prerequisite2" Label="prereq 2" Variant="Variant.Outlined" Min="0" Max="9999" id="textFieldColor"></MudNumericField>
<p>-----</p>
<MudSelect @bind-Value="gradeReq2" Label="grade prereq 2" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>
</MudGrid>

<br />
<br />

<MudGrid>
    <MudNumericField @bind-Value="prerequisite3" Label="prereq 3" Variant="Variant.Outlined" Min="0" Max="9999" id="textFieldColor"></MudNumericField>
<p>-----</p>
<MudSelect @bind-Value="gradeReq3" Label="grade prereq 3" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>
</MudGrid>

<br />
<br />

<MudGrid>
    <MudNumericField @bind-Value="prerequisite4" Label="prereq 4" Variant="Variant.Outlined" Min="0" Max="9999" id="textFieldColor"></MudNumericField>
<p>-----</p>
<MudSelect @bind-Value="gradeReq4" Label="grade prereq 4" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>
</MudGrid>

<br />
<br />

<MudGrid>
    <MudNumericField @bind-Value="prerequisite5" Label="prereq 5" Variant="Variant.Outlined" Min="0" Max="9999" id="textFieldColor"></MudNumericField>
<p>-----</p>
<MudSelect @bind-Value="gradeReq5" Label="grade prereq 5" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>
</MudGrid>

<br />
<br />

<MudGrid>
    <MudNumericField @bind-Value="prerequisite6" Label="prereq 6" Variant="Variant.Outlined" Min="0" Max="9999" id="textFieldColor"></MudNumericField>
<p>-----</p>
<MudSelect @bind-Value="gradeReq6" Label="grade prereq 6" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>
</MudGrid>

<br />
<br />

<MudGrid>
    <MudNumericField @bind-Value="prerequisite7" Label="prereq 7" Variant="Variant.Outlined" Min="0" Max="9999" id="textFieldColor"></MudNumericField>
<p>-----</p>
<MudSelect @bind-Value="gradeReq7" Label="grade prereq 7" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>
</MudGrid>


<br />
<br />

<MudGrid>
    <MudNumericField @bind-Value="prerequisite8" Label="prereq 8" Variant="Variant.Outlined" Min="0" Max="9999" id="textFieldColor"></MudNumericField>
<p>-----</p>
<MudSelect @bind-Value="gradeReq8" Label="grade prereq 8" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in grades)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>
</MudGrid>

<br />

<MudSelect @bind-Value="type" Label="Grad or Undergrad" Variant="Variant.Outlined" id="textFieldColor" >
    @foreach (var x in gradType)
    {
        <MudSelectItem Style="@theme.selectFieldColor" Value="@x"></MudSelectItem >
    }
</MudSelect>

<MudButton @onclick="submitForm" Variant="Variant.Outlined" class="btncolor">submit</MudButton>

@code 
{
    Mongo mongo = new Mongo("college-site-2");
    Theme theme = new Theme();

    private string[] creditlabels = { "1", "2", "3", "4" };
    private List<string> departments = new List<String> { };
    private string[] grades = { "A", "B", "C", "D", "F" };
    private string[] gradType = { "Undergraduate", "Graduate" };

    private static int courseID { get; set; }
    private static string courseName { get; set; }
    private static int credits { get; set; }
    private static string department { get; set; }
    private static string description { get; set; }
    private static int prerequisite1 { get; set; }
    private static int prerequisite2 { get; set; }
    private static int prerequisite3 { get; set; }
    private static int prerequisite4 { get; set; }
    private static int prerequisite5 { get; set; }
    private static int prerequisite6 { get; set; }
    private static int prerequisite7 { get; set; }
    private static int prerequisite8 { get; set; }
    private static string gradeReq1 { get; set; }
    private static string gradeReq2 { get; set; }
    private static string gradeReq3 { get; set; }
    private static string gradeReq4 { get; set; }
    private static string gradeReq5 { get; set; }
    private static string gradeReq6 { get; set; }
    private static string gradeReq7 { get; set; }
    private static string gradeReq8 { get; set; }
    private static int sectionCounter { get; set; }
    private static string type { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var accountTypeCheck = await storage.GetAsync<string>("accountType");

            if (accountTypeCheck.Value != "Admin")
            {
                navigate.NavigateTo("/homepage");
            }
        }
        catch
        {
            navigate.NavigateTo("/homepage");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("on after render (local) ran");
            var queryDepartment = mongo.LoadRecordSortedAsc<Departments>("department", "Department");

            foreach (var x in queryDepartment)
            {
                departments.Add(x.Department);
            }
        }

    }

    private void submitForm()
    {
        //try
        {
            bool validForm = true;
            var queryClasses = mongo.LoadRecord<Classes>("classes");

            Console.WriteLine("sanity");
            //form validation
            if (courseID == null || !(courseID >= 1000 && courseID <= 9999))
            {
                validForm = false;
                Console.WriteLine("sanity1");
            }
            else if (courseName == null || courseName == "")
            {
                validForm = false;
                Console.WriteLine("sanity2");
            }
            else if (credits == null || !(credits >= 1 && credits <= 4))
            {
                validForm = false;
                Console.WriteLine("sanity3");
            }
            else if (department == null || department == "")
            {
                validForm = false;
                Console.WriteLine("sanity4");
            }
            else if (description == null || description == "")
            {
                validForm = false;
                Console.WriteLine(description);
            }
            else if (type == null || type == "")
            {
                validForm = false;
                Console.WriteLine("sanity6");
            }


            //sanity check
            bool sanityCheck = true;
            if (validForm)
            {
                Console.WriteLine("sanity");
                var queryCourse = mongo.LoadRecord<Course>("course");

                foreach (var x in queryCourse)
                {
                    if (x.CourseName == courseName || x.CourseID == courseID)
                    {
                        sanityCheck = false;
                        break;
                    }
                }
            }

            if (validForm && sanityCheck)
            {
                Console.WriteLine("inside");
                Course toWrite = new Course();
                List<Prerequiste> prereq = new List<Prerequiste> { };

                toWrite.CourseID = courseID;
                toWrite.CourseName = courseName;
                toWrite.Credits = credits;
                toWrite.Department = department;
                toWrite.Description = description;
                Console.WriteLine("inside1");

                Prerequiste nullObject = new Prerequiste();
                nullObject.MinimumRequirements = "none";
                nullObject.Prereq = "none";
                Console.WriteLine(nullObject.MinimumRequirements);

                Console.WriteLine("inside2");

                toWrite.SectionCounter = 0;
                toWrite.Type = type;
                toWrite.CourseID = courseID;

                Console.WriteLine("inside3");
                int prereqcounter = 0;
                Prerequiste prereqToWrite = new Prerequiste();
                if ((prerequisite1 >= 1000 && prerequisite1 <= 9999) && prerequisite1 != null && (gradeReq1 != "" || gradeReq1 != null))
                {


                    var queryPrereq = mongo.LoadRecordByInt<Course>("course", "CourseID", prerequisite1);
                    prereqToWrite.MinimumRequirements = gradeReq1;
                    prereqToWrite.Prereq = queryPrereq.CourseName;

                    toWrite.Prerequiste.Add(prereqToWrite);
                    Console.WriteLine("prereq1");
                }
                else
                {
                    prereqcounter++;
                }

                if ((prerequisite2 >= 1000 && prerequisite2 <= 9999) && prerequisite2 != null && (gradeReq2 != "" || gradeReq2 != null))
                {
                    var queryPrereq = mongo.LoadRecordByInt<Course>("course", "CourseID", prerequisite2);

                    prereqToWrite.MinimumRequirements = gradeReq2;
                    prereqToWrite.Prereq = queryPrereq.CourseName;
                    toWrite.Prerequiste.Add(prereqToWrite);
                    Console.WriteLine("prereq2");
                }
                else
                {
                    prereqcounter++;
                }

                if ((prerequisite3 >= 1000 && prerequisite3 <= 9999) && prerequisite3 != null && (gradeReq3 != "" || gradeReq3 != null))
                {

                    var queryPrereq = mongo.LoadRecordByInt<Course>("course", "CourseID", prerequisite3);

                    prereqToWrite.MinimumRequirements = gradeReq3;
                    prereqToWrite.Prereq = queryPrereq.CourseName;
                    toWrite.Prerequiste.Add(prereqToWrite);
                }
                else
                {
                    prereqcounter++;
                }

                if ((prerequisite4 >= 1000 && prerequisite4 <= 9999) && prerequisite4 != null && (gradeReq4 != "" || gradeReq4 != null))
                {

                    var queryPrereq = mongo.LoadRecordByInt<Course>("course", "CourseID", prerequisite4);

                    prereqToWrite.MinimumRequirements = gradeReq4;
                    prereqToWrite.Prereq = queryPrereq.CourseName;
                    toWrite.Prerequiste.Add(prereqToWrite);
                }
                else
                {
                    prereqcounter++;
                }

                if ((prerequisite5 >= 1000 && prerequisite5 <= 9999) && prerequisite5 != null && (gradeReq5 != "" || gradeReq5 != null))
                {

                    var queryPrereq = mongo.LoadRecordByInt<Course>("course", "CourseID", prerequisite5);

                    prereqToWrite.MinimumRequirements = gradeReq5;
                    prereqToWrite.Prereq = queryPrereq.CourseName;
                    toWrite.Prerequiste.Add(prereqToWrite);
                }
                else
                {
                    prereqcounter++;
                }

                if ((prerequisite6 >= 1000 && prerequisite6 <= 9999) & prerequisite6 != null && (gradeReq6 != "" || gradeReq6 != null))
                {

                    var queryPrereq = mongo.LoadRecordByInt<Course>("course", "CourseID", prerequisite6);

                    prereqToWrite.MinimumRequirements = gradeReq6;
                    prereqToWrite.Prereq = queryPrereq.CourseName;
                    toWrite.Prerequiste.Add(prereqToWrite);
                }
                else
                {
                    prereqcounter++;
                }

                if ((prerequisite7 >= 1000 && prerequisite7 <= 9999) & prerequisite7 != null && (gradeReq7 != "" || gradeReq7 != null))
                {

                    var queryPrereq = mongo.LoadRecordByInt<Course>("course", "CourseID", prerequisite7);

                    prereqToWrite.MinimumRequirements = gradeReq7;
                    prereqToWrite.Prereq = queryPrereq.CourseName;
                    toWrite.Prerequiste.Add(prereqToWrite);
                }
                else
                {
                    prereqcounter++;
                }

                if ((prerequisite8 >= 1000 && prerequisite8 <= 9999) && prerequisite8 != null && (gradeReq8 != "" || gradeReq8 != null))
                {

                    var queryPrereq = mongo.LoadRecordByInt<Course>("course", "CourseID", prerequisite8);

                    prereqToWrite.MinimumRequirements = gradeReq8;
                    prereqToWrite.Prereq = queryPrereq.CourseName;
                    toWrite.Prerequiste.Add(prereqToWrite);
                }
                else
                {
                    prereqcounter++;
                }

                for (int i = 0; i < prereqcounter; i++)
                {
                    toWrite.Prerequiste.Add(nullObject);
                }

                mongo.InsertRecord<Course>("course", toWrite);

                snackbar.Add("Course added successfully", Severity.Success);
            }
            else
            {
                snackbar.Add("Course was not added successfully", Severity.Error);
            }
        }
    }
}
