@page "/admin/addnewcourse"

<h2>Add new course</h2>

<MudNumericField @bind-Value="courseID" Label="course id" Variant="Variant.Outlined" Min="1000" Max="9999"></MudNumericField>

<MudTextField @bind-Value="courseName" Label="course name" Variant="Variant.Outlined"></MudTextField>

<MudSlider TickMarks="true" TickMarkLabels="@creditlabels" Step="1" Min="1" Max="4" Value="@credits">credits</MudSlider>

<MudSelect @bind-Value="department" T="string" Label="Department" AnchorOrigin="Origin.BottomCenter">
    @foreach (var x in departments)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="description" Label="description" Variant="Variant.Outlined" Lines="4"></MudTextField>

<MudText Align="Align.Center">leave any of these prereqs blank to not assign a prerequiste</MudText>

<MudTextField @bind-Value="prerequisite1" Label="prereq 1" Variant="Variant.Outlined"></MudTextField> 
<MudSelect @bind-Value="gradeReq1" Label="grade prereq 1" Variant="Variant.Outlined">
    @foreach (var x in grades)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite2" Label="prereq 2" Variant="Variant.Outlined"></MudTextField>
<MudSelect @bind-Value="gradeReq2" Label="grade prereq 2" Variant="Variant.Outlined">
    @foreach (var x in grades)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite3" Label="prereq 3" Variant="Variant.Outlined"></MudTextField>
<MudSelect @bind-Value="gradeReq3" Label="grade prereq 3" Variant="Variant.Outlined">
    @foreach (var x in grades)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite4" Label="prereq 4" Variant="Variant.Outlined"></MudTextField>
<MudSelect @bind-Value="gradeReq4" Label="grade prereq 4" Variant="Variant.Outlined">
    @foreach (var x in grades)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite5" Label="prereq 5" Variant="Variant.Outlined"></MudTextField>
<MudSelect @bind-Value="gradeReq5" Label="grade prereq 5" Variant="Variant.Outlined">
    @foreach (var x in grades)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite6" Label="prereq 6" Variant="Variant.Outlined"></MudTextField>
<MudSelect @bind-Value="gradeReq6" Label="grade prereq 6" Variant="Variant.Outlined">
    @foreach (var x in grades)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite7" Label="prereq 7" Variant="Variant.Outlined"></MudTextField>
<MudSelect @bind-Value="gradeReq7" Label="grade prereq 7" Variant="Variant.Outlined">
    @foreach (var x in grades)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudTextField @bind-Value="prerequisite8" Label="prereq 8" Variant="Variant.Outlined"></MudTextField>
<MudSelect @bind-Value="gradeReq8" Label="grade prereq 8" Variant="Variant.Outlined">
    @foreach (var x in grades)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudSelect @bind-Value="type" Label="Grad or Undergrad" Variant="Variant.Outlined">
    @foreach (var x in gradType)
    {
        <MudSelectItem Value="@x"></MudSelectItem>
    }
</MudSelect>

<MudButton @onclick="submitForm" Variant="Variant.Outlined" Color="Color.Success">submit</MudButton>

@code 
{
    Mongo mongo = new Mongo("college-site-2");

    private string[] creditlabels = { "1", "2", "3", "4" };
    private List<string> departments = new List<String> { };
    private string[] grades = { "A", "B", "C", "D", "F" };
    private string[] gradType = { "Undergraduate", "Graduate" };

    private int? courseID { get; set; }
    private string? courseName { get; set; }
    private int? credits { get; set; }
    private string? department { get; set; }
    private string? description { get; set; }
    private string? prerequisite1 { get; set; }
    private string? prerequisite2 { get; set; }
    private string? prerequisite3 { get; set; }
    private string? prerequisite4 { get; set; }
    private string? prerequisite5 { get; set; }
    private string? prerequisite6 { get; set; }
    private string? prerequisite7 { get; set; }
    private string? prerequisite8 { get; set; }
    private string? gradeReq1 { get; set; }
    private string? gradeReq2 { get; set; }
    private string? gradeReq3 { get; set; }
    private string? gradeReq4 { get; set; }
    private string? gradeReq5 { get; set; }
    private string? gradeReq6 { get; set; }
    private string? gradeReq7 { get; set; }
    private string? gradeReq8 { get; set; }
    private int? sectionCounter { get; set; }
    private string? type { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("on after render (local) ran");
        var queryDepartment = mongo.LoadRecordSortedAsc<Departments>("department", "Department");

        foreach (var x in queryDepartment)
        {
            departments.Add(x.Department);
        }

    }

    private void submitForm()
    {
        
    }
}
