@page "/visitor/viewrequirements"

<h2>majors</h2>


<MudExpansionPanels MultiExpansion="false">
    <MudExpansionPanel Text="Criminology">
        <ol>
            @for (int i = 0; i < course0.Length; i++)
            {
                <li>@course0[i] (@grade0[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="English">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Biological">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Biological Sciences">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Industrial and Labor Relations">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

     <MudExpansionPanel Text="Chemistry and Physics">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

     <MudExpansionPanel Text="Politics,Economics, and Law">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

     <MudExpansionPanel Text="Psychology">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
        </MudExpansionPanel>

        <MudExpansionPanel Text="American Studies">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Modern Language">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Health and Society">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="History and Philosophy">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Mathematics">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Visual Arts">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Computer Science">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Sociology">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>
    </MudExpansionPanels>

<h2>minors</h2>

    <MudExpansionPanels MultiExpansion="false">
    <MudExpansionPanel Text="Media Design">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="PreLaw Studies">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Visual Arts">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Mathematics">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Media and Communications">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Global Studies">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Environmental Studies">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Chemistry">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Philosophy and Religion">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Computer Information Science">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Hispanic Culture Studies">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Physics">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Prehealth Professions">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Public Policy">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Spanish">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>

    <MudExpansionPanel Text="No Minor">
        <ol>
            @for (int i = 0; i < course1.Length; i++)
            {
                <li>@course1[i] (@grade1[i] or higher required)</li>
            }
        </ol>
    </MudExpansionPanel>
    </MudExpansionPanels>

@code
{
    bool open;
    Anchor anchor;

    Mongo mongo = new Mongo("college-site-2");
    List<Majors> queryMajor;
    string[] course0;
    string[] grade0;
    string[] course1;
    string[] grade1;

    protected override async Task OnInitializedAsync()
    {
        queryMajor = mongo.LoadRecord<Majors>("majors");

        course0 = queryMajor[0].MajorRequirements.ToArray();
        grade0 = queryMajor[0].GradeRequirements.ToArray();
        
        course1 = queryMajor[1].MajorRequirements.ToArray();
        grade1 = queryMajor[1].GradeRequirements.ToArray();
        
    }


}
