@page "/graduate/changemajorminor2"
@inject ProtectedLocalStorage storage
@inject NavigationManager navigate
@inject ISnackbar snackbar

<h2>Change Major and Minor</h2>

<MudSelect @bind-Value="major" T="string" Label="majorID" id="textFieldColor" AnchorOrigin="Origin.BottomCenter">
    <MudSelectItem Class="selectFieldColor" Value="@("American Studies")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Biological Sciences")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Chemistry and Physics")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Computer Science")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Criminology")" />
    <MudSelectItem Class="selectFieldColor" Value="@("English")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Health and Society")" />
    <MudSelectItem Class="selectFieldColor" Value="@("History and Philosophy")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Industrial and Labor Relations")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Mathematics ")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Modern Language")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Politics,Economics, and Law")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Psychology")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Sociology")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Visual Arts")" />

</MudSelect>

<MudSelect @bind-Value="minor" T="string" Label="minorID" id="textFieldColor" AnchorOrigin="Origin.BottomCenter">
    <MudSelectItem Class="selectFieldColor" Value="@("Chemistry")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Computer Information Science")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Environmental Studies")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Global Studies")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Hispanic Culture Studies")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Mathematics")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Media Design")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Media and Communications")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Philosophy and Religion")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Physics")" />
    <MudSelectItem Class="selectFieldColor" Value="@("PreLaw Studies")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Prehealth Professions")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Public Policy")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Spanish")" />
    <MudSelectItem Class="selectFieldColor" Value="@("Visual Arts")" />
    <MudSelectItem Class="selectFieldColor" Value="@("No Minor")" />
   
</MudSelect>
<MudButton @onclick="submitForm" Variant="Variant.Outlined" Class="btncolor">submit</MudButton>

@code
{
    Mongo mongo = new Mongo("college-site-2");   

    protected override async Task OnInitializedAsync()
    {
        var accountTypeCheck = await storage.GetAsync<string>("accountType");

        if (accountTypeCheck.Value != "Graduate")
        {
            navigate.NavigateTo("/homepage");
        }
        }

    private static string major { get; set; }
    private static string minor { get; set; }
    [Parameter][SupplyParameterFromQuery] public string userID { get; set; }

    private void submitForm()
    {
        //try
        {
        bool validForm = true;

        if (major == null || major == "")
        {
            validForm = false;
            snackbar.Add("major error", Severity.Error);
        }
        else if (minor == null || minor == "")
        {
            validForm = false;
            snackbar.Add("minor error", Severity.Error);
        }
        
        if (validForm)
        {

            var queryAllUserID = mongo.LoadRecordByString<AllUser>("allUser", "UserID", userID);

            queryAllUserID.Major = major;
            queryAllUserID.Minor = minor;

            mongo.UpsertRecord<AllUser>("allUser", queryAllUserID.Id, queryAllUserID);
            snackbar.Add("Major/Minor was edited successfully", Severity.Success);
            snackbar.Add("Logout and log back in to apply changes", Severity.Info);
            
        }
        else
        {
            snackbar.Add("Major/Minor not edited successfully", Severity.Error);
        }
    }
}
}